<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/KK/IdeaProjects/NopCommerceTesting">
        <parameter name="username" value="acb@gmail.com"/>
        <parameter name="password" value="123456"/>
        <classes>
            <class name="RegisterPageTest">
                <methods>
                    <include name="test001"/>
                </methods>
            </class>
            <class name="ParametrizedLoginTest">
                <methods>
                    <include name="logInUsingValidCredentials"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>